
.appointment-blog{
	text-align: center;
}

.appointment-content{
	h2{

		line-height: 1.5;
		margin-bottom: 56px;
	}
}
.appointment-btn{

	a.button-green,
a.button-green:visited ,a.button-trans,
a.button-trans:visited{
  padding: 17px 20px;
}
}
